# Created by .ignore support plugin (hsz.mobi)
### Yii template
assets/*
!assets/.gitignore
protected/runtime/*
.idea/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

.idea/dataSources/88e48331-896e-43db-b0a0-9ffa97630af1.xml___jb_tmp___
