# Created by .ignore support plugin (hsz.mobi)
### Yii template
assets/*
!assets/.gitignore
protected/runtime/*
.idea/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

vendor/ezyang/htmlpurifier/plugins/phorum/htmlpurifier/
vendor/yiisoft/yii2/console/runtime/
yii2/
